@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.hide{
  display: none;
}

.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navItems{
    font-size: 0.9rem;
    display: flex;
  }
  
  .logo{
    font-weight: 1000;
    font-size: 2rem;
    
  }
  
  .nnnn {
    margin-left: 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: 'Work Sans', sans-serif;
  }
  .nnnn svg{
    width: 20px;
    height: 20px;
  }
  
